<div class="row">
  <div class="col">
    <h1>My Portfolios</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col text-center">
    <%= link_to "Add portfolio", new_portfolio_path, class: "btn btn-primary"%>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @portfolios.each do |portfolio| %>
        <tr>
          <td class="text-center"><%= link_to portfolio.name, portfolio_path(portfolio) %></td>
          <td class="text-right"><%= number_to_currency(portfolio.total_holding) %></td>
          <td class="text-center"><%= link_to "edit", edit_portfolio_path(portfolio), class: "btn btn-primary" %> <%= button_to "delete", portfolio_path(portfolio), {method: "delete", class: "btn btn-danger"} %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
