<div class="row">
  <div class="col">
    <h1>Add New Portfolio</h1>
  </div>
</div>

<%= render partial: 'layouts/form_errors', locals: {obj: @portfolio} %>

<div class="row justify-content-md-center">
  <div class="col-md-auto col-md-5 text-center">
    <%= form_for @portfolio do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
