<div class="row">
  <div class="col">
    <h1>Add New Portfolio</h1>
  </div>
</div>

<%= render partial: 'layouts/form_errors', locals: {obj: @portfolio} %>

<div class="row justify-content-md-center">
  <div class="col-md-auto col-md-5 text-center">
    <%= form_for @portfolio do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <fieldset>

        <legend>Add your first transaction</legend>

        <%= f.fields_for :transactions, @portfolio.transactions.build do |t| %>

          <div class="form-group">
            <%= t.label :coin_id %>
            <%= t.select :coin_id, Coin.all.collect { |c| [ c.name.titleize, c.id ] }, {include_blank: true}, {class: "form-control"}  %>
          </div>

          <div class="form-group">
            <%= t.label :trade_quantity %>
            <%= t.text_field :trade_quantity, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= t.label :trade_price %>
            <%= t.text_field :trade_price, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= t.label :trade_date %>
            <%= t.date_field :trade_date, class: "form-control", value: Time.now.strftime("%Y-%m-%d") %>
          </div>

          <% end %>

      </fieldset>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
