<div class="row">
  <div class="col">
    <h1>Sign Up</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-auto col-md-5 text-center">
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row mt-4">
  <div class="col text-center">
    <p>OR</p>
    <p><%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn  btn-info" %></p>
  </div>
</div>
