<div class="row">
  <div class="col">
    <h1>List of coins</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col text-center">
    <%= button_to "Refresh list", {action: "update_coin_list"}, class: "btn btn-primary"%>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Change 24hr</th>
          <th scope="col">Volume</th>
          <th scope="col">Market Cap</th>
        </tr>
      </thead>
      <tbody>
        <% @coins.each do |coin| %>
        <tr>
          <td class="text-center"><%= coin.symbol %></td>
          <td class="text-center"><%= coin.name %></td>
          <td class="text-right"><%= number_to_currency(coin.price) %></td>
          <td class="text-right"><%= coin.percentage_change_24h %></td>
          <td class="text-right"><%= number_to_currency(coin.volume) %></td>
          <td class="text-right"><%= number_to_currency(coin.market_cap) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
