<div class="row">
  <div class="col">
    <h1><%= @coin.name %></h1>
  </div>
</div>

<div class="row mb-5">
  <div class="col">Ticker: <%= @coin.symbol %></div>
  <div class="col">Price: <%= number_to_currency(@coin.price) %></div>
  <div class="col">Volume: <%= number_to_currency(@coin.volume) || "-" %></div>
  <div class="col">Marketcap: <%= number_to_currency(@coin.market_cap) || "-" %></div>
  <div class="col">Change 24Hr: <%= display_percent(@coin.percentage_change_24h/100) if @coin.percentage_change_24h %></div>
</div>

<div class="row mb-4">
  <div class="col text-center">
    <%= link_to "Add #{@coin.name} Transaction", {controller: "transactions", action: "new", portfolio_id: @transactions.first.portfolio.id, coin_id: @coin.id}, class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1><%= @coin.name %> Holdings</h1>
  </div>
</div>

<div class="row">
  <div class="col">

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Trade price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">24Hr</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |t| %>
      <tr>
        <td class="text-center"><%= t.trade_date.strftime("%d/%m/%Y") %></td>
        <td class="text-center"><%= number_to_currency(t.trade_price) %></td>
        <td class="text-center"><%= t.trade_quantity %></td>
        <td class="text-center"><%= number_to_currency(t.trade_quantity * t.coin.price)%></td>
        <td class="text-center"><%= display_percent(1 - (t.trade_price / t.coin.price)) %></td>
        <td class="text-center"><%= link_to "edit", edit_portfolio_transaction_path(t.portfolio, t), class: "btn btn-primary" %> <%= button_to "delete", portfolio_transaction_path(t.portfolio, t), {method: "delete", class: "btn btn-danger"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  </div>
</div>
